{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="blog-card-tags">
    <div class="blog-card-banner">
        <img src="{{ '/assets/images/ldap.png' | relative_url }}" alt="LDAP Ramblings"
          width="100" class="blog-banner-img">
    </div>
  <div class="blog-content-wrapper">
    {% for category in post.categories %}
    <button class="blog-topic text-tiny" onclick="location.href='categories/\#{{category | replace: ' ', '-' | downcase}}'">{{category}}</button>
  {% endfor %}
  <br/>  <br/>     
  <h3>
        <a href="{{ post.url | relative_url }}"" class="h3">
          {{ title }}
        </a>
      </h3>
      {% if post.excerpt %}
      <p class="blog-text">
        {{ post.excerpt | markdownify | strip_html | truncate: 160 }}  
      </p>
      {% endif %}
  </div>
</div>
