<footer>

    <div class="container">

      <div class="wrapper">

        <h1 class="logo-text-redpoll dark-theme">0xRedpoll</h1>

        <p class="footer-text">
          Follow along with my nonsensical ramblings of whatever takes my interest at any point in time.
        </p>

      </div>

      <div class="wrapper">

        <p class="footer-title">Placeholder</p>

        <ul>

          <li>
            <a href="#" class="footer-link">Placeholder</a>
          </li>

          <li>
            <a href="#" class="footer-link">Placeholder</a>
          </li>

          <li>
            <a href="#" class="footer-link">Placeholder</a>
          </li>

        </ul>

      </div>

      <div class="wrapper">

        <p class="footer-title">Placeholder</p>

        <ul>

          <li>
            <a href="#" class="footer-link">Placeholder</a>
          </li>

          <li>
            <a href="#" class="footer-link">Placeholder</a>
          </li>

          <li>
            <a href="#" class="footer-link">Placeholder</a>
          </li>

        </ul>

      </div>

    </div>

    <p class="copyright">
      &copy; Copyright 2025 <a href="https://github.com/0xRedpoll">0xRedpoll</a>
    </p>

  </footer>